.wunrav-custom-popup-uploader-target input {
    margin-bottom: 10px;
}

.wunrav-custom-popup-upload-button {
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #f7f7f7;
    text-shadow: none;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    color: #0073aa;
    cursor: pointer;
    outline: 0;
}
