/* Popup bg overlay */
.wunrav-custom-popup-overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #444;
    z-index:2001;
    -moz-opacity: 0.7;
    opacity:.80;
    filter: alpha(opacity=80);
    /* Transitions */
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}

.wunrav-custom-popup {
    box-shadow: 5px 5px 5px #444;
    position: fixed;
    padding: 0;
    background-color: #fff;
    display: none;
    text-align: center;
    /* Not rocket science here */
    left: 35%;
    top: 25%;
    width: 40%;
    max-width: 600px;
    border: 10px solid #999;
    z-index:20010;
    overflow: auto;

    /* Animation */
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    opacity: 1;
}

.wunrav-custom-popup .wunrav-custom-popup-img {
    position: relative;
    max-height:200px;
    padding: 20px; 
    margin: auto;
}

.wunrav-custom-popup .wunrav-custom-popup-img img {
    max-height: 200px;
}

.wunrav-custom-popup .wunrav-custom-popup-text {
    color: #222;
    margin: auto;
    padding: 0 20px 20px;
    text-align: center;
}

.wunrav-custom-popup .wunrav-custom-popup-text p { text-align: center; }

/* Close button */
.wunrav-custom-popup-close {
    color: #fff;
    text-align: right;
    padding: 3px 5px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.0em;
    background: #999;
    border-radius: 50%;
}

.wunrav-custom-popup-button {
    color: white;
    background-color: #00aeff;
    padding: 12px;
    border-radius: 5px;
    /* Animation */
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/* mouse over link */
.wunrav-custom-popup-button &:hover {
    color: white;
} 

/* link, visited, active*/
.wunrav-custom-popup a &:link,
.wunrav-custom-popup a &:hover,
.wunrav-custom-popup a &:visited,
.wunrav-custom-popup a &:active {
    text-decoration: none;
}


@media only screen and (max-width: 768px) {
    .wunrav-custom-popup {
        width: 96%;
        top: 10%;
        left: 2%;
        border: 0;
    }
}
